RewriteEngine On
RewriteBase /site/
RewriteRule ^tr/login$ tr/login.php [L]
RewriteRule ^tr/register$ tr/register.php [L]
RewriteRule ^tr/logout$ tr/logout.php [L]
RewriteRule ^en-us/login$ en/login.php [L]
RewriteRule ^en-us/register$ en/register.php [L]
RewriteRule ^en-us/logout$ en/logout.php [L]